<div class="container">
	<div class="row py-md-5 py-4">
		<h1 class="fw-bold text-center mb-4">Duke Leads - FZCO Cookie Policy</h1>
		<p>
			This website uses cookies.
		</p>
		<p>
			A cookie is a small text file that is downloaded to your computer that gives you a more personalised experience when using our website. They are not harmful and are not used to identify you personally.
		</p>
		<p>
			For example, a cookie can record certain information about a visitor to a website to tailor their options for when they next visit.
		</p>
		<p>
			By continuing to use this website we at Duke Leads - FZCO will assume that you are happy with our cookie policy and that we can place cookies on your computer device.
		</p>
		<p>
			Most internet browsers will allow you to turn off cookies if you wish, you should refer to the Help guide of your browser to learn how to do this. But please remember that disabling or blocking cookies may impact your ability to use websites and the services that they offer.
		</p>
		<p>
			Some tools you may find useful for working with cookies:
		</p>
		<ul>
			<li>
				Google Analytics Opt-out Browser Add-on - <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>
			</li>
		</ul>
		<p>
			To learn more about cookies visit
		</p>
		<ul>
			<li>
				All About Cookies - <a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/</a>
			</li>
		</ul>
		<p class="text-muted">
			When visitors load Shopify’s websites, we generally place the following Shopify cookies:
		</p>
		<h4>
			Necessary Cookies
		</h4>
		<p>
			These help to make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies:
		</p>

		<table class="table table-bordered">
  		<thead>
		    <tr>
		      <th scope="col">Cookie Name:</th>
		      <th scope="col">Provider</th>
		      <th scope="col">Purpose</th>
		      <th scope="col">Type</th>
		      <th scope="col">Expiry</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>__cfduid</td>
		      <td>caremissionclaim.com</td>
		      <td>Used by the content network, Cloudflare, to identify trusted web traffic</td>
		      <td>HTTP</td>
		      <td>29 Days</td>
		    </tr>
		    <tr>
		      <td>_biz_flagsA</td>
		      <td>.cloudflare.com</td>
		      <td>This cookie stores whether or not the user has submitted a form</td>
		      <td></td>
		      <td>1 year</td>
		    </tr>
		  </tbody>
		</table>

		<h4>
			Statistics Cookies
		</h4>
		<p>
			These help a website owner to understand how visitors interact with their website by collecting and reporting information anonymously:
		</p>

		<table class="table table-bordered">
  		<thead>
		    <tr>
		      <th scope="col">Cookie Name:</th>
		      <th scope="col">Provider</th>
		      <th scope="col">Purpose</th>
		      <th scope="col">Type</th>
		      <th scope="col">Expiry</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>_biz_nA</td>
		      <td>.cloudflare.com</td>
		      <td>This cookie is used to record website and server performance with each visit to the site.</td>
		      <td></td>
		      <td>1 year</td>
		    </tr>
		    <tr>
		      <td>_biz_pendingA</td>
		      <td>.cloudflare.com</td>
		      <td>This cookie is used to record website and server performance with each visit to the site. The data is aggregated and analyzed; therefore, it remains anonymous upon use.</td>
		      <td></td>
		      <td>1 year</td>
		    </tr>
		    <tr>
		      <td>_biz_uid</td>
		      <td>.cloudflare.com</td>
		      <td>Used to record website and server performance with each visit to the site. The data is aggregated and analyzed; therefore, it remains anonymous upon use</td>
		      <td></td>
		      <td>1 year</td>
		    </tr>
		    <tr>
		      <td>_mkto_trk</td>
		      <td>.cloudflare.com</td>
		      <td>This cookie is associated with an email marketing service provided by Marketo. This tracking cookie allows a website to link visitor behaviour to the recipient of an email marketing campaign, to measure campaign effectiveness.</td>
		      <td></td>
		      <td>2 years</td>
		    </tr>
		    <tr>
		      <td>_BEAMER_DATE_zeKLgqli17986</td>
		      <td>.hotjar.com</td>
		      <td>This cookie is used by hotjar to store the latest date in which the feed was opened.</td>
		      <td>HTTP</td>
		      <td>1 year</td>
		    </tr>
		    <tr>
		      <td>_BEAMER_FIRST_VISIT_zeKLgqli17986</td>
		      <td>.hotjart.com</td>
		      <td>This cookie is set whenever you sign up to receive Beamer updates, and is necessary to the operation of Beamer</td>
		      <td>HTTP</td>
		      <td>8 years</td>
		    </tr>
		    <tr>
		      <td>_BEAMER_LAST_UPDATE_zeKLgqli17986</td>
		      <td>.hotjart.com</td>
		      <td>This cookie is used by hotjar for user behavior analytic data.</td>
		      <td></td>
		      <td>1 year</td>
		    </tr>
		    <tr>
		      <td>_BEAMER_USER_ID_zeKLgqli17986</td>
		      <td>.hotjart.com</td>
		      <td>This cookie is set whenever you sign up to receive Beamer updates.</td>
		      <td>HTTP</td>
		      <td>1 year</td>
		    </tr>
		    <tr>
		      <td>_hjAbsoluteSessionInProgress</td>
		      <td>.hotjart.com</td>
		      <td>This cookie is used to detect the first pageview session of a user. This is a True/False flag set by the cookie</td>
		      <td></td>
		      <td>1 day</td>
		    </tr>
		    <tr>
		      <td>ajs_anonymous_id</td>
		      <td>.hotjart.com</td>
		      <td>These cookies are generally used for Analytics and help count how many people visit a certain site by tracking if you have visited before</td>
		      <td></td>
		      <td>1 day</td>
		    </tr>
		    <tr>
		      <td>ajs_user_id</td>
		      <td>.hotjart.com</td>
		      <td>This cookie helps track visitor usage, events, target marketing, and can also measure application performance and stability.</td>
		      <td></td>
		      <td>1 day</td>
		    </tr>
		    <tr>
		      <td>intercom-session-c5ke8zbr</td>
		      <td>.hotjart.com</td>
		      <td>Inentifier for each unique browser session.</td>
		      <td></td>
		      <td>1 day</td>
		    </tr>
		    <tr>
		      <td>_gaexp</td>
		      <td>caremissionclaim.com</td>
		      <td>Used to determine a user's inclusion in an experiment and the expiry of experiments a user has been included in</td>
		      <td></td>
		      <td></td>
		    </tr>
		    <tr>
		      <td>_gat_UA-147691944-1</td>
		      <td>caremissionclaim.com</td>
		      <td>Used to send data to Google Analytics about the user statistics.</td>
		      <td></td>
		      <td></td>
		    </tr>
		    <tr>
		      <td>_hjIncludedInSample</td>
		      <td>caremissionclaim.com</td>
		      <td>It uniquely identifies a visitor during a single browser session and indicates they are included in an audience sample.</td>
		      <td></td>
		      <td>Session</td>
		    </tr>
		    <tr>
		      <td>_session</td>
		      <td>caremissionclaim.com</td>
		      <td>File in a temporary directory on the browser to register session variables.</td>
		      <td>HTTP</td>
		      <td>Session</td>
		    </tr>
		    <tr>
		      <td>OTZ</td>
		      <td>google.com</td>
		      <td>Used by Google Analytics that provides an aggregate analysis of Website visitors</td>
		      <td></td>
		      <td></td>
		    </tr>
		    <tr>
		      <td>_gcl_au</td>
		      <td>caremissionclaim.com</td>
		      <td>It's the first party cookie for "Conversion Linker" functionality.</td>
		      <td></td>
		      <td>60 days</td>
		    </tr>
		    <tr>
		      <td>_ga</td>
		      <td>caremissionclaim.com</td>
		      <td>Registers a unique ID that is used to generate statistical data on how the visitor uses the website</td>
		      <td>HTTP</td>
		      <td>2 Years</td>
		    </tr>
		    <tr>
		      <td>_gat</td>
		      <td>caremissionclaim.com</td>
		      <td>Used by Google Analytics to throttle request rate</td>
		      <td>HTTP</td>
		      <td>1 day</td>
		    </tr>
		    <tr>
		      <td>_gid</td>
		      <td>caremissionclaim.com</td>
		      <td>Registers a unique ID that is used to generate statistical data on how the visitor uses the website.</td>
		      <td>HTTP</td>
		      <td>1 day</td>
		    </tr>
		    <tr>
		      <td>collect</td>
		      <td>google-analytics.com</td>
		      <td>Used to send data to Google Analytics about the visitor's device and behavior. Tracks the visitor across devices and marketing channels</td>
		      <td>Pixel</td>
		      <td>Session</td>
		    </tr>
		  </tbody>
		</table>
		<h4>
			Marketing Cookies
		</h4>
		<p>
			These are used to track visitors to a website with the intention or displaying advertisements that are relevant to the user, these may include cookies set and collected by our third-party advertisers or providers:
		</p>

		<table class="table table-bordered">
  		<thead>
		    <tr>
		      <th scope="col">Cookie Name:</th>
		      <th scope="col">Provider</th>
		      <th scope="col">Purpose</th>
		      <th scope="col">Type</th>
		      <th scope="col">Expiry</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>DSID</td>
		      <td>.doubleclick.net</td>
		      <td>DSID are used to link your activity across devices if you've previously signed in to your Google Account on another device.</td>
		      <td></td>
		      <td></td>
		    </tr>
		    <tr>
		      <td>IDE</td>
		      <td>.doubleclick.net</td>
		      <td>‘IDE‘ is stored in browsers by Google for advertising purpose.</td>
		      <td></td>
		      <td></td>
		    </tr>
		    <tr>
		      <td>datr</td>
		      <td>.facebook.com</td>
		      <td>datr cookie is to identify the web browser being used to connect to Facebook independent of the logged in user.</td>
		      <td>HTTP</td>
		      <td>2 Years</td>
		    </tr>
		    <tr>
		      <td>sb</td>
		      <td>.facebook.com</td>
		      <td>Used by Facebook to improve friend suggestions</td>
		      <td>HTTP</td>
		      <td>2 Years</td>
		    </tr>
		    <tr>
		      <td>__Secure-3PSIDCC</td>
		      <td>.google.com</td>
		      <td>These cookies are used to deliver ads more relevant to you and your interests</td>
		      <td></td>
		      <td></td>
		    </tr>
		    <tr>
		      <td>SIDCC</td>
		      <td>.google.com</td>
		      <td>This cookie carries out information about how the end user uses the website and any advertising that the end user may have seen before visiting the said website.</td>
		      <td></td>
		      <td></td>
		    </tr>
		    <tr>
		      <td>1P_JAR</td>
		      <td>.gstatic.com</td>
		      <td>This cookie carries out information about how the end user uses the website and any advertising that the end user may have seen before visiting the said website.</td>
		      <td></td>
		      <td>30 days</td>
		    </tr>
		    <tr>
		      <td>_uetsid</td>
		      <td>.hotjar.com</td>
		      <td>This cookie is used by Bing to manage the advertising/ ads targeting.</td>
		      <td></td>
		      <td>1 day</td>
		    </tr>
		    <tr>
		      <td>_uetvid</td>
		      <td>.hotjar.com</td>
		      <td>_uetvid. This is a cookie utilised by Microsoft Bing Ads and is a tracking cookie.</td>
		      <td></td>
		      <td>17 days</td>
		    </tr>
		    <tr>
		      <td>_gcl_aw</td>
		      <td>caremissionclaim.com</td>
		      <td>Used by Google AdSense for experimenting with advertisement efficiency across websites using their services</td>
		      <td></td>
		      <td>2 Months</td>
		    </tr>
		    <tr>
		      <td>_fbp</td>
		      <td>caremissionclaim.com</td>
		      <td>Used by Facebook to deliver a series of advertisement products such as real time bidding from third party</td>
		      <td>HTTP</td>
		      <td>3 Months</td>
		    </tr>
		    <tr>
		      <td>_schn</td>
		      <td>caremissionclaim.com</td>
		      <td>Tracks the individual sessions on the website, allowing the website to compile statistical datafrom multiple visits. This data can also be usedto create leads for marketing purposes.</td>
		      <td>HTTP</td>
		      <td>Session</td>
		    </tr>
		    <tr>
		      <td>_scid</td>
		      <td>caremissionclaim.com</td>
		      <td>Sets a unique ID for the visitor, that allows third party advertisers to target the visitor with relevant advertisement. This pairing service is provided by third party advertisement hubs, which facilitates real-time bidding for advertisers.</td>
		      <td>HTTP</td>
		      <td>13 Months</td>
		    </tr>
		    <tr>
		      <td>ads/ga-audiences</td>
		      <td>google.com</td>
		      <td>Used by Google AdWords to re-engage visitorsthat are likely to convert to customers based on the visitor's on line behaviour across websites.</td>
		      <td>Pixel</td>
		      <td>Session</td>
		    </tr>
		    <tr>
		      <td>MUID</td>
		      <td>bing.com</td>
		      <td>Used widely by Microsoft as a unique user ID. The cookie enables user tracking by synchronising the ID across many Microsoft domains.</td>
		      <td>HTTP</td>
		      <td>1 Year</td>
		    </tr>
		    <tr>
		      <td>sc_at</td>
		      <td>snapchat.com</td>
		      <td>Used by Snapchat to implement advertisement content on the website - The cookie detects the efficiency of the ads and collects visitor data for further visitor segmentation .</td>
		      <td>HTTP</td>
		      <td>1 Year</td>
		    </tr>
		    <tr>
		      <td>tr</td>
		      <td>facebook.com</td>
		      <td>Used by Facebook to deliver a series of advertisement products such as real time bidding from third party advertisers.</td>
		      <td>Pixel</td>
		      <td>Session</td>
		    </tr>
		    <tr>
		      <td>fr</td>
		      <td>facebook.com</td>
		      <td>Used by Facebook to deliver a series of advertisement products such as real time bidding from third party advertiser</td>
		      <td>HTTP</td>
		      <td>3 Months</td>
		    </tr>
		  </tbody>
		</table>

		<h3>How long will cookies remain on my computer or mobile device?</h3>
		<p>
			The length of time that a cookie remains on your computer or mobile device depends on whether it is a “persistent” or “session” cookie. Session cookies last until you stop browsing and persistent cookies last until they expire or are deleted. Most of the cookies we use are persistent and will expire between 30 minutes and two years from the date they are downloaded to your device. See the section below on how to control cookies for more information on removing them before they expire.
		</p>
		<h3>
			How to control cookies?
		</h3>
		<p>
			You can control and manage cookies in various ways. Please keep in mind that removing or blocking cookies can negatively impact your user experience and parts of our website may no longer be fully accessible.
		</p>
		<p>
			Most browsers automatically accept cookies, but you can choose whether or not to accept cookies through your browser controls, often found in your browser’s “Tools” or “Preferences” menu. For more information on how to modify your browser settings or how to block, manage or filter cookies can be found in your browser’s help file or through such sites as: <a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/</a>.
		</p>
		<p>
			Many of the third party advertising and other tracking services listed above offer you the opportunity to opt-out of their tracking systems. You can read more about the information they collect and how to opt-out through the privacy policy links listed above.
		</p>

	</div>
</div>

<%= render 'layouts/footer'%>

