<div class="container">
	<div class="row py-md-5 my-5">
		<h1 class="fw-bold text-center mb-4">Terms and Conditions</h1>
		<h3 class="fw-bold">1. Acceptance of Terms</h3>
		<p>
			Please read the terms and conditions of use carefully before using the <a href="https://caremissionclaim.com/">https://caremissionclaim.com/</a> website.
		</p>
		<p>
			By using the website, you agree to be bound by these terms and conditions, as well as our privacy policy.
		</p>
		<h4>Recipients of personal data</h4>
		<p>
			We use several external companies/services/data processors to help us perform our legitimate interests. These services are
		</p>
		<p>
			Google Analytics - Belgrave House, 76 Buckingham Palace Road, London, SW1W 9TQ <br>
			Facebook - 10 Brock St, London NW1 3FG <br>
			Bing - Thames Valley Park, Reading, RG6 1WG <br>
			Leadbyte Limited - 9 Abbey Square, Chester CH1 2HU
		</p>
		<p>
			To meet our contractual commitments to you.
		</p>
		<p>
			We may also contact you by SMS and Email. You will be given the option to unsubscribe and opt-out each time we contact you. If an unsubscribe request is received and you have requested to opt-out, you will be added to a suppression list which will prevent any further communication being received directly from us as the sender. You allow us up to 48 hours for these requests to be fully actioned.You will however, need to ensure you have opted out from any of our affiliates, subsidiaries, partners, or any third party lists you may have opted in to as a result of us introducing you to them.
		</p>
		<p>
			ANY PARTICIPATION IN THIS SERVICE WILL CONSTITUTE ACCEPTANCE OF THIS AGREEMENT.
		</p>
		<h3 class="fw-bold">
			2. Intellectual Property Rights
		</h3>
		<p>
			The contents of this website is covered by copyright and other intellectual property rights and laws. None of the content may be copied, downloaded, reproduced, sold, transmitted, stored or distributed without the prior written consent. This excludes the downloading, copying and/or printing off pages of the Website for personal, non-commercial use, or using internally within your business.
		</p>
		<h3 class="fw-bold">
			3. Indemnity
		</h3>
		<p>
			You agree to indemnify, defend and hold harmless us and our parent, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors,service providers, subcontractors, suppliers, interns and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third-party due to or arising out of your breach of these Terms of Service or the documents they incorporate by reference, or your violation of any law or the rights of a third-party.
		</p>
		<p>
			You agree that we will not be held responsible for any disputes arising from dealings you have directly with any third parties, our affiliates partners and anyone else who we may share your data with or introduce you to. You agree that it is your responsibility to read and fully understand any terms and conditions represented and presented to you by our partners; for any products or services they may pitch or enroll you onto. Furthermore, you agree to take full responsibility for providing any further information to any of our third party partners and affiliates, at your own discretion, once you leave our site.
		</p>
		<p>
			You agree that we are not responsible for any loss; financial or otherwise, resulting from direct dealings you may have with our affiliates and partners or any other third party as a result of us introducing you to, or sharing your data with them. You agree to hold us harmless from any claims or disputes arising from your dealings or affairs with them. We would like to take the opportunity to confirm via this privacy statement; that we do not collect any of your financial information, this includes such information as credit card or debit card details, bank details, or any other financial information connected or associated to you. More importantly, we would like to reiterate and make clear via our privacy statement, that the only personal information we will ever collect from you is the data collected via the form on our site.
		</p>
		<p>
			Passing any additional information, from you, financial or otherwise; to any third parties or our affiliate partners, is at your own discretion and we shall not be held liable or responsible for any legal matters arising as a result of this, in any way, shape or form. Once you leave our site, any further information you submit, be it financial or otherwise, is at your own discretion and you will be either agreeing or disagreeing to be governed by the privacy statements and terms and conditions presented to you by the third party, at the third parties site,we encourage you to read and understand their own terms of use and privacy statements before you enter into contract or agreement with them.
		</p>
		<h3 class="fw-bold">
			4. Disclaimers and Limitation of Liability
		</h3>
		<p>
			(a) To the extent permitted by law, we are not to be held liable for any direct or indirect or resulting loss or damage whatsoever (including without data, profits, opportunity limitation loss of business) that arise from using this site
		</p>
		<p>
			(b) Nothing in these terms and conditions will impact upon the statutory rights that you have as a consumer.
		</p>
		<h3 class="fw-bold">5.Third Party Links</h3>
		<p>
			You might find links to third party websites on our website. These websites should have their own privacy policies, which you should check. We do not accept any responsibility or liability for their policies whatsoever as we have no control over them
		</p>
		<h3 class="fw-bold">
			6. Changes to Terms and Conditions
		</h3>
		<p>
			For any reason, at any time, we may modify these terms and conditions, by posting a new version on our website. But, these changes do not influence the rights and obligations, before the changes were made.
		</p>
		<p>
			Your continued use of the website, following any modifications to the terms and conditions, will be subject to the terms and conditions in place at the time of your use. So, please review these terms and conditions periodically for any changes.
		</p>
		<h3 class="fw-bold">
			7. Termination
		</h3>
		<p>
			We hold the right to terminate your access at any time, without notice or any specific reason for doing so.
		</p>
		<h3 class="fw-bold">
			8. Governing Law
		</h3>
		<p>
			These Terms and Conditions shall be governed by and construed in accordance with the law of England and Wales, and you hereby submit to the exclusive jurisdiction of the English courts.
		</p>
		<p>
			<a href="https://caremissionclaim.com/">https://caremissionclaim.com/</a> is the property and trading style of Duke Leads - FZCO
		</p>
		<p>
			Registered: DSO-IFZA, Dubai Silicon Oasis, Dubai, UAE License Number 6245
		</p>
		<p>
			<a href="https://caremissionclaim.com/">https://caremissionclaim.com/</a> does not perform a credit check but you may be asked to complete one if you apply for a mobile phone contract with our partners.
		</p>
	</div>
</div>

<%= render 'layouts/footer'%>






