<footer class="bg-gcolor">
	<div class="container">
		<div class="row py-3">
			<div class="col-md-6 text-center mb-4 mb-md-0">
				<div class="row align-items-center">
					<div class="col-md-3">
						<%= image_tag('Icon-color.png', class: 'w-25')%>						
					</div>
					<div class="col-md-9">						
						<p class="text-white text-md-start text-center mb-0 fw-light">© 2022 CarEmissionClaim</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 text-center align-self-center">
				<p class="text-white text-center w-100 mb-0">
					<a target="_blank" class="text-decoration-none text-white" href="/terms">Terms & Conditions</a> | <a target="_blank" class="text-decoration-none text-white" href="/privacy">Privacy Policy</a> | <a target="_blank" class="text-decoration-none text-white" href="/cookies">Cookies Policy</a>
				</p>
			</div>
		</div>
	</div>
</footer>
