<div class="row pt-5">
	<div class="col-md-4 text-center mb-4 mb-md-0">
		<i class="fa fa-times-circle text-danger fs-60"></i>
	</div>
	<div class="col-md-8">
		<h4 class="fw-light" data-parsley-group="block-2" data-parsley-required="true">Unfortunately, <span class="car-title fw-bold"><%=@car_data[:car_title]%></span> does not meet the criteria that we are currently investigating, and we are unable to assist you further.</h4>
	</div>
	<div>
		<button data-parsley-group="block-2" data-parsley-required="true" type="button" class="btn btn-success restart-btn w-100 fs-3 mt-4">Try Another Vehicle</button>

		<p class="w-100 text-center py-3">
			No-Win, No-Cost To You	. Free Online Check
		</p>
	</div>
</div>
